<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/prague.jpg');">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
            <div class="card card-profile card-plain">
                <div class="card-avatar" style="max-width: 300px; max-height: 300px">
                    <a href="#avatar"><img src="./assets/img/faces/eu_placeholder.png" alt="..."></a>
                </div>
            </div>
          <h1>Gustavo Souza Vieira Dutra</h1>
          <h3>Mechatronics Engineering Student</h3>
      </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
              <h2 class="title">Brazilian exchange student in France</h2>
              <h5 class="description">Currently on BAC +5 in the École Nationale Supérieure de Mécanique et des Microtechniques</h5>
          </div>
      </div>
      <br/><br/>
      <div class="row">
          <div class="col-md-3">
              <div class="info">
                  <div class="icon icon-danger">
                      <i class="nc-icon nc-book-bookmark"></i>
                  </div>
                  <div class="description">
                      <h4 class="info-title">Studies</h4>
                      <p class="description">Joint training in mechatronic engineering with UFU (Brazil) and ENSMM (France) with an emphasis on robotics</p>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="info">
                  <div class="icon icon-danger">
                      <i class="nc-icon nc-tap-01"></i>
                  </div>
                  <div class="description">
                      <h4 class="info-title">Programming</h4>
                      <p>Developer with experience in several programming areas including web, data analysis, database and microcontrollers</p>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="info">
                  <div class="icon icon-danger">
                      <i class="nc-icon nc-world-2"></i>
                  </div>
                  <div class="description">
                      <h4 class="info-title">Language proficiencies</h4>
                      <p>Portuguese mother tongue. Good skills in English and French. Learning Spanish and Italian.</p>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="info">
                  <div class="icon icon-danger">
                      <i class="nc-icon nc-sun-fog-29"></i>
                  </div>
                  <div class="description">
                      <h4 class="info-title">Experiences</h4>
                      <p>Set of professional experiences in the fields of applied exact, competitions and humanities</p>
                      
                  </div>
              </div>
          </div>
      </div>

  </div>

</div>
