<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/besancon_wall_2.png');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/foto_perfil.png" alt="Circle Image" class="img-circle img-no-padding img-responsive" style="max-width: 200px; max-height: 200px;">
                </div>
                <div class="name">
                    <h4 class="title">Gustavo DUTRA<br /></h4>
                    <h6 class="description">{{translate.instant('PROFISIONAL.TITLE')}}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>{{translate.instant('PROFISIONAL.DESCRIPTION')}}</p>
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="{{translate.instant('PROFISIONAL.WORK')}}">
                            <ng-template ngbTabContent >
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/pipay_logo.png" alt="Circle Image" class="img-circle img-no-padding img-responsive" style="padding-top: 10px;">
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 ml-auto">
                                                        <h6>Aug 2021 - Now: PICPAY<br/>
                                                          <small>{{translate.instant('PROFISIONAL.PICPAY_DESC')}}</small>
                                                          <br><small><b>{{translate.instant('PROFISIONAL.SAO_PAULO')}}</b></small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/inria_logo.png" alt="Circle Image" class="img-circle img-no-padding img-responsive" style="padding-top: 10px;">
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 ml-auto">
                                                        <h6>Jan 2021 - Jul 2021: INRIA - ADAPT<br/>
                                                          <small>{{translate.instant('PROFISIONAL.ADAPT_DESC')}}</small>
                                                          <br><small><b>{{translate.instant('PROFISIONAL.RENNES')}}</b></small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/hut_logo.png" alt="Circle Image" class="img-circle img-no-padding img-responsive" style="padding-top: 10px;">
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 ml-auto">
                                                        <h6>Jan 2020 - Jul 2020: TECHLAM - HUTCHINSON<br/>
                                                          <small>{{translate.instant('PROFISIONAL.HUT_DESC')}}</small>
                                                          <br><small><b>{{translate.instant('PROFISIONAL.CERNAY')}}</b></small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/kyros_logo.jpeg" alt="Circle Image" class="img-circle img-no-padding img-responsive" style="padding-top: 10px">
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 ml-auto">
                                                        <h6>Dec 2018 - Aug 2019: {{translate.instant('PROFISIONAL.KYROS')}}<br />
                                                          <small>{{translate.instant('PROFISIONAL.KYROS_DESC')}}</small>
                                                          <br><small><b>{{translate.instant('PROFISIONAL.UBERLANDIA')}}</b></small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/nupe_logo.png" alt="Square Image" class="img-square img-no-padding img-responsive" style="padding-top: 10px;">
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 ml-auto">
                                                        <h6>Mar 2017 - Mar 2018: {{translate.instant('PROFISIONAL.NUPE')}}<br />
                                                          <small>{{translate.instant('PROFISIONAL.NUPE_DESC')}}</small>
                                                          <br><small><b>{{translate.instant('PROFISIONAL.UBERLANDIA')}}</b></small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="{{translate.instant('PROFISIONAL.PROGRAM')}}">
                            <ng-template ngbTabContent >
                                <div class="row following" id="follows">                                  
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto" 
                                                    rel="tooltip" title="{{item.language}}" data-placement="bottom" 
                                                    placement="bottom" ngbPopover="{{translate.instant(item.description)}}" popoverTitle="{{item.language}}"
                                                    *ngFor="let item of programming" style="cursor: pointer;">
                                                        <img src="./assets/img/programming/{{item.logo}}" alt="Circle Square" class="img-square img-no-padding img-responsive" style="padding-top: 10px; max-width: 3.5rem">
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="CAD & CAI">
                            <ng-template ngbTabContent >
                                <div class="section" id="carousel">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8 mr-auto ml-auto">
                                                <div class="card page-carousel">
                                                    <ngb-carousel>
                                                        <ng-template ngbSlide>
                                                            <img src="./assets/img/solid_works.png" alt="Random first slide">
                                                            <div class="carousel-caption" style="color: black"> 
                                                                <p>Solid Works</p>
                                                            </div>
                                                        </ng-template>
                                                        <ng-template ngbSlide>
                                                            <img src="./assets/img/abaqus_2.png" alt="Random second slide">
                                                            <div class="carousel-caption" style="color: black">
                                                                <p>ABAQUS</p>
                                                            </div>
                                                        </ng-template>
                                                        <ng-template ngbSlide>
                                                            <img src="./assets/img/creo_2.png" alt="Random third slide">
                                                            <div class="carousel-caption" style="color: black">
                                                                <p>CREO</p>
                                                            </div>
                                                        </ng-template>
                                                    </ngb-carousel>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="{{translate.instant('PROFISIONAL.AUTOMATION')}}">
                            <ng-template ngbTabContent >
                                <div class="section" id="carousel">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8 mr-auto ml-auto">
                                                <div class="card page-carousel">
                                                    <ngb-carousel>
                                                        <ng-template ngbSlide *ngFor="let item of automation">
                                                            <img src="./assets/img/{{item.image}}" alt="´{{item.title}}">
                                                            <div class="carousel-caption" style="background: rgba(16, 20, 20, 0.671); color: white">
                                                                <p><b>{{translate.instant(item.title)}}</b></p>
                                                            </div>
                                                        </ng-template>
                                                    </ngb-carousel>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="CV">
                            <ng-template ngbTabContent >
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 ml-auto">
                                                        <h6>
                                                            <a href="{{cv_en}}" target="_blank" style="color: #66615b; font-weight: bold"><i class="fa fa-link"></i>{{translate.instant('PROFISIONAL.CV_EN')}}</a><br/>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
